html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ========================================================================== */

*{
    box-sizing: border-box;
}

body {
    margin: auto;
    /*font-family: "Consolas", Helvetica;*/
    font-family: 'Source Code Pro', "Consolas", monospace;
    font-size: .8em;
}

#disable-overlay {
/*    position: absolute;
    width: 100%;
    height: 100%;
    display: none;*/
}

#disable-controls-overlay {
/*    position: absolute;
    right: 0;
    width: calc(100% - 80px);
    height: 60px;
    background-color: rgba(255,255,255,0.5);
    z-index: 10000;*/
}
#holder {
    background-color: #EEE;
    height: 100vh;
    width: 100%;
    border: 5px solid #FFF;

}

.hide-details {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: #CCC;
    padding-top: 5px;
}

#details {
    /*border: 1px solid #222;*/
    background-color: #fff;
    z-index: 1000;
    display: none;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 100px;
    top: 100px;
    box-shadow: -2px 2px 25px rgba(0,0,0,0.1);
}

#scale-select {
    text-transform: capitalize;
}

/* ========================= Shape attributes popup ========================= */
.shape-attr-popup {
    display: none;
    /*border: 1px solid #222;*/
    background-color: #fff;
    z-index: 1000;
   /* height: 150px;
    width: 150px;*/
    position: absolute;
    left: 100px;
    top: 100px;
    padding: 5px 15px;
    box-shadow: -2px 2px 25px rgba(0,0,0,0.1);
}
.shape-attr-popup:after {
    right: 100%;
    top: 30%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}


.shape-attr-popup .section{
    padding: 10px 0 10px 0;
}

.shape-attr-start-freq-select {
    width: 25px;
}

/*.shape-attr-start-freq span {
    padding-left: 10px;
    margin-right: -3px;
    width: 10px;
}*/

select {
    border: 1px solid #777;
    /*border-radius: 0;*/
    /*-webkit-appearance: none;*/
}
#signal-meter {
    vertical-align: middle;
}
.arrow {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    padding: 0;
    height: auto;
    width: auto;
    background: transparent;
    /*height: 30px;*/
    font-size: 18px;
    position: relative;
    background-color: transparent;
    border: none;
/*    font-size: 12px;*/
    transform: scaleX(1) scaleY(1) scaleZ(1)

}

.arrow:hover {
    background-color: transparent;
    color: #000;
    transform: scaleX(1.4) scaleY(1.4) scaleZ(1)
}

.arrow-up {
    margin-left: 10px;
/*    top: -5px;
    left: 4px;*/
}
.arrow-down {
/*    left: 0px;
    top: 5px;*/
}
button.shape-attr-delete-shape{
    /*width: 100%;*/
    text-align: left;
    /*border-top: 1px solid #ddd;*/
    display: block;
    height: auto;
    color: rgba(255,100,100,1);
    padding: 0;
    padding-top: 4px;
}
.shape-attr-delete-shape:hover{
    text-decoration: underline;
    background-color: transparent;
    color: rgba(255,100,100,1);
}




.start-freq-label{
    display: inline-block;
    width: 25px;
}

.shape-attr-popup-section {
    padding: 20px;
}

#start-freq-input {
    width: 50px;
    display: inline;
}
#details:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}

/* ================================================== */


button {
    border: 2px solid #FFF;
    border-radius: 0px;
    background-color: #fff;
    color: #777;
    height: 40px;
    padding: 0 20px 0 20px
}

.ctrl-elem {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.ctrl-elem #tempo-slider {
    display: inline-block;
    position: relative;
    top: 3px;
}
.checkboxes {
   /* width: 100px;*/
    vertical-align: middle;
    display: inline-block;
}
.active {
    background-color: #555;
    color: #eee;
}

button:hover {
    /*border-color: #BBB;*/
    background-color: #777;
    color: #fff;
}
button:focus{
    outline: none;
}

#controls {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    /*height: 60px;*/
    width: 100%;
    z-index: 100;
    padding-bottom: 10px;
    background-color: #fff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

input[type="checkbox"] {
    border-radius: 0;
}

.play-stop-toggle-cont {
    display: inline-block;
    width: 50px;
}

#play-stop-toggle i {
    font-size: 2em;

}

#play-stop-toggle {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    margin-left: 15px;
    border: none;
    background: transparent;
    position: relative;
    top: 1px;
    vertical-align: middle;
    padding: 0;
    width: 40px;
    transform: scaleX(1) scaleY(1) scaleZ(1)
}
#play-stop-toggle:hover {
    transform: scaleX(1.3) scaleY(1.3) scaleZ(1);
    background-color: transparent;
    color: #222;
}



#play-stop-toggle i {
    vertical-align: middle;}


.mute-solo {
    
    padding: 0 !important;
    height: 25px;
}
.mute-button-cont {
    width: 50%;
    height: 100%;
    border: 1px solid #bbb;
}
button.shape-attr-mute{
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
   /* background-color: #ddd;*/
    color: rgba(100,100,255,1);
    padding: 0;
    border: none;
}
button.shape-attr-mute:hover{
    background-color: transparent;
}
button.shape-attr-unmute{
    background-color: rgba(100,100,255,1);
    color: #fff;
}
button.shape-attr-unmute:hover{
    background-color: rgba(100,100,255,1);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

