/* ========================================================================== */
/*  Variables                                                                 */
/* ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700");
/* ========================================================================== */
/* ================================ General ================================= */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

body {
  margin: auto;
  /*font-family: "Consolas", Helvetica */
  font-family: "Source Code Pro", "Consolas", monospace;
  font-size: 0.8em; }

button {
  outline: none !important;
  background: none;
  border: none; }

a {
  text-decoration: none;
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

#holder {
  background-color: #EEE;
  height: 100vh;
  width: 100%;
  border: 5px solid #fff; }

/* ========================================================================== */
/* =============================== File Menu ================================ */
.menu {
  width: 100%;
  z-index: 200;
  position: absolute;
  border-bottom: 1px solid #777;
  background: #eee;
  height: 20px;
  top: -19px; }
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%; }
    .menu ul li {
      padding: 0;
      margin: 0;
      height: 100%;
      padding-top: 1px;
      padding-left: 20px;
      padding-right: 20px;
      display: inline-block;
      border-right: 1px solid #777; }
      .menu ul li.logo {
        background: #222; }
        .menu ul li.logo a {
          color: #fff !important; }
      .menu ul li.account-link {
        float: right;
        border: none;
        border-left: 1px solid #777; }
  .menu button.show-hide-menu {
    position: absolute;
    background: #777;
    color: #fff;
    font-size: 15px;
    height: 20px;
    bottom: -20px;
    right: 0px; }
    .menu button.show-hide-menu i, .menu button.show-hide-menu span {
      position: relative;
      top: -3px; }

.info-pane {
  padding: 10px;
  box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100px;
  background: #fff;
  z-index: 200; }
  .info-pane button.show-hide-info-pane {
    position: absolute;
    background: #777;
    color: #fff;
    font-size: 15px;
    height: 20px;
    top: -20px;
    left: 0px; }
    .info-pane button.show-hide-info-pane i, .info-pane button.show-hide-info-pane span {
      position: relative;
      top: -3px; }
  .info-pane p {
    padding: 0;
    margin: 0; }

/* ========================================================================== */
/* ============================= User Controls ============================== */
.controls {
  position: absolute;
  top: 0px;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  z-index: 100;
  padding-bottom: 10px;
  background-color: #fff; }
  .controls .divider {
    width: 1px;
    height: 40px;
    background: #eee;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block; }
  .controls .controls-section {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    height: 40px; }
    .controls .controls-section.tools-controls {
      border: 1px solid #bbb; }
      .controls .controls-section.tools-controls .ctrl-elem {
        margin: 0; }
    .controls .controls-section.grid-controls {
      position: relative;
      top: 2px; }
  .controls button.ctrl-elem {
    border: 2px solid #fff;
    border-radius: 0px;
    background-color: #fff;
    color: #777;
    height: 100%;
    padding: 0 20px 0 20px; }
    .controls button.ctrl-elem:hover {
      background-color: #777;
      color: #fff; }
    .controls button.ctrl-elem:focus {
      outline: none; }
    .controls button.ctrl-elem:disabled {
      color: #bbb !important; }
      .controls button.ctrl-elem:disabled:hover {
        color: #bbb !important;
        background: transparent !important;
        text-decoration: none !important; }
    .controls button.ctrl-elem.clear {
      color: #ff6464; }
      .controls button.ctrl-elem.clear:hover {
        text-decoration: underline;
        background-color: transparent;
        color: #ff6464; }
  .controls .transport-icon {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #777;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    background: none;
    border: none;
    color: #777;
    font-size: 1.5em;
    vertical-align: middle;
    width: 40px;
    height: 100%; }
    .controls .transport-icon:hover {
      transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
      color: #222;
      background-color: transparent; }
    .controls .transport-icon:disabled {
      color: #bbb; }
      .controls .transport-icon:disabled:hover {
        color: #bbb;
        background: transparent;
        transform: scaleX(1) scaleY(1) scaleZ(1); }
    .controls .transport-icon i {
      margin-left: 15px;
      display: block;
      margin: 0 auto;
      border: none;
      background: transparent;
      position: relative;
      top: 1px;
      vertical-align: middle;
      padding: 0; }
  .controls .ctrl-elem {
    margin-right: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
    .controls .ctrl-elem label {
      margin-right: 3px; }
  .controls .tempo-slider {
    display: inline-block;
    position: relative;
    top: 3px; }
  .controls .checkboxes {
    vertical-align: middle;
    display: inline-block; }
  .controls .scale-select, .controls .tonic-select {
    text-transform: capitalize; }
  .controls button.active {
    background-color: #555 !important;
    color: #eee !important; }
  .controls .project-controls button {
    padding: 0; }
    .controls .project-controls button:hover {
      background: transparent;
      color: #777;
      text-decoration: underline; }

.trash-can-cont {
  position: absolute;
  padding: 50px;
  bottom: 20px;
  right: 35px;
  font-size: 40px;
  z-index: 1000;
  color: #777;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #777;
  transform: scaleX(1) scaleY(1) scaleZ(1); }
  .trash-can-cont:hover {
    transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
    color: #222;
    background-color: transparent; }
  .trash-can-cont:disabled {
    color: #bbb; }
    .trash-can-cont:disabled:hover {
      color: #bbb;
      background: transparent;
      transform: scaleX(1) scaleY(1) scaleZ(1); }

/* ========================================================================== */
/* ========================= Shape attributes popup ========================= */
.shape-attr-popup {
  box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.1);
  display: none;
  width: 225px;
  background-color: #fff;
  z-index: 1000;
  position: absolute;
  left: 100px;
  top: 100px;
  padding: 5px 15px; }
  .shape-attr-popup:after {
    right: 100%;
    top: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px; }
  .shape-attr-popup .section {
    padding: 10px 0 10px 0; }
  .shape-attr-popup .close-popup {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: #CCC;
    padding-top: 5px; }
  .shape-attr-popup .shape-attr-start-freq {
    padding: 1px 5px; }
  .shape-attr-popup .start-freq-label {
    display: inline-block;
    text-transform: capitalize;
    width: 20px; }
  .shape-attr-popup .signal-meter {
    vertical-align: middle; }
  .shape-attr-popup .arrow {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #777;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    padding: 0;
    height: auto;
    width: auto;
    background: transparent;
    top: 2px;
    font-size: 20px;
    position: relative;
    border: none; }
    .shape-attr-popup .arrow:hover {
      transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
      color: #222;
      background-color: transparent; }
    .shape-attr-popup .arrow:disabled {
      color: #bbb; }
      .shape-attr-popup .arrow:disabled:hover {
        color: #bbb;
        background: transparent;
        transform: scaleX(1) scaleY(1) scaleZ(1); }
    .shape-attr-popup .arrow:hover {
      background-color: transparent; }
    .shape-attr-popup .arrow.arrow-up {
      margin-left: 8px; }
    .shape-attr-popup .arrow.arrow-down {
      margin-left: -3px; }
  .shape-attr-popup button.shape-attr-delete-shape {
    text-align: left;
    display: block;
    height: auto;
    color: #ff6464;
    padding: 0;
    padding-top: 4px; }
    .shape-attr-popup button.shape-attr-delete-shape:hover {
      text-decoration: underline;
      background-color: transparent;
      color: #ff6464; }
  .shape-attr-popup .mute-solo .button-cont {
    display: inline-block;
    width: 50%;
    height: 100%; }
    .shape-attr-popup .mute-solo .button-cont button {
      height: 100%;
      width: 100%;
      text-align: center;
      display: block;
      padding: 0;
      border: none; }
    .shape-attr-popup .mute-solo .button-cont .shape-attr-mute {
      border: 1px solid #6e6efa;
      color: #6e6efa; }
    .shape-attr-popup .mute-solo .button-cont .shape-attr-unmute {
      background-color: #6e6efa;
      color: #fff; }
    .shape-attr-popup .mute-solo .button-cont .shape-attr-solo {
      border: 1px solid #eda128;
      color: #eda128; }
    .shape-attr-popup .mute-solo .button-cont .shape-attr-unsolo {
      background-color: #eda128;
      color: #fff; }

/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/* Hide visually and from screen readers:
 */
.hidden {
  display: none; }

/* Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
