/* ========================================================================== */
/* =============================== VARIABLES ================================ */
/* ========================================================================== */
/* ================================ MIXINS ================================== */
/* ========================================================================== */
/* ================================ GENERAL ================================= */
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

body {
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Source Code Pro", "Consolas", "Inconsolata", monospace;
  font-size: 0.8em; }

button {
  outline: none !important;
  background: none;
  border: none; }

a {
  text-decoration: none;
  color: #222; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0; }
  ul li {
    font-size: 12px; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

#holder {
  background-color: #EEE;
  height: 100vh;
  width: 100%;
  border: 5px solid #fff; }

.show-hide {
  position: absolute;
  background: #eee;
  color: #444;
  border: 1px solid #777;
  border-right: none;
  font-size: 15px;
  height: 20px; }
  .show-hide i, .show-hide span {
    position: relative;
    top: -3px; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown .dropdown-content {
    box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute; }
  .dropdown:hover .dropdown-content {
    display: block; }

/* ========================================================================== */
/* ================================ TOP BAR ================================= */
.top-bar {
  position: absolute;
  width: 100%;
  z-index: 400; }

/* ========================================================================== */
/* =============================== FILE MENU ================================ */
.menu {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #777;
  background: #eee;
  height: 20px;
  top: 0; }
  .menu .dropdown .dropdown-content {
    box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.1);
    min-width: calc(100% + 1px);
    left: -1px;
    padding: 4px;
    z-index: 300;
    border: 1px solid #777;
    background: #eee; }
    .menu .dropdown .dropdown-content a {
      margin-bottom: 3px;
      padding-top: 0; }
  .menu ul {
    height: 100%; }
    .menu ul li {
      padding: 0;
      margin: 0;
      height: 100%;
      display: inline-block;
      border-right: 1px solid #777; }
      .menu ul li a {
        display: block;
        height: 100%;
        padding-top: 1px;
        padding-left: 20px;
        padding-right: 20px; }
        .menu ul li a:hover {
          background: #fff; }
      .menu ul li.logo {
        background: #222; }
        .menu ul li.logo a {
          color: #fff !important; }
      .menu ul li.discover-link {
        background: #fde46b; }
      .menu ul li.account-link {
        float: right;
        border: none;
        border-left: 1px solid #777; }
  .menu button.show-hide {
    z-index: 400; }
  .menu button.show-hide-menu {
    position: absolute;
    background: #eee;
    color: #444;
    border: 1px solid #777;
    border-right: none;
    font-size: 15px;
    height: 20px;
    bottom: -20px;
    right: 0px; }
    .menu button.show-hide-menu i, .menu button.show-hide-menu span {
      position: relative;
      top: -3px; }

/* ========================================================================== */
/* ============================= User Controls ============================== */
.controls {
  position: relative;
  top: 0px;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
  background-color: #fff; }
  .controls .divider {
    width: 1px;
    height: 40px;
    background: #eee;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block; }
  .controls .tool-icon {
    width: 30px; }
  .controls .controls-section {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    height: 40px; }
    .controls .controls-section.tools-controls {
      -moz-box-shadow: inset 0 1px 8px 0px #bbb;
      -webkit-box-shadow: inset 0 1px 8px 0px #bbb;
      box-shadow: inset 0 1px 8px 0px #bbb;
      background-color: #eee;
      border-radius: 3px;
      margin-right: 40px; }
      .controls .controls-section.tools-controls button {
        margin: 0; }
        .controls .controls-section.tools-controls button span {
          position: relative;
          top: -5px; }
      .controls .controls-section.tools-controls #draw-tool {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px; }
      .controls .controls-section.tools-controls #adjust-tool {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; }
    .controls .controls-section.transport-controls {
      font-size: 16px;
      width: 100px;
      margin-right: 10px; }
    .controls .controls-section.grid-controls {
      position: relative;
      top: 2px; }
  .controls button.ctrl-elem {
    border-radius: 0px;
    color: #444;
    height: 100%;
    padding: 0 20px 0 20px; }
    .controls button.ctrl-elem:hover {
      background-color: #777;
      color: #fff; }
    .controls button.ctrl-elem:focus {
      outline: none; }
    .controls button.ctrl-elem:disabled {
      color: #bbb !important; }
      .controls button.ctrl-elem:disabled:hover {
        color: #bbb;
        background: transparent;
        text-decoration: none; }
    .controls button.ctrl-elem.clear {
      color: #ff6464; }
      .controls button.ctrl-elem.clear:hover {
        text-decoration: underline;
        background-color: transparent;
        color: #ff6464; }
    .controls button.ctrl-elem.active {
      background-color: #444 !important;
      color: #fff !important; }
  .controls .transport-icon {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #777;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    position: relative;
    z-index: 100;
    color: #444;
    font-size: 1.5em;
    width: 40px;
    height: 100%; }
    .controls .transport-icon:hover {
      transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
      color: #222;
      z-index: 5000; }
    .controls .transport-icon:active {
      transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
      color: #222; }
    .controls .transport-icon:disabled {
      color: #bbb; }
      .controls .transport-icon:disabled:hover {
        color: #bbb;
        transform: scaleX(1) scaleY(1) scaleZ(1); }
    .controls .transport-icon i {
      margin-left: 15px;
      display: block;
      margin: 0 auto;
      border: none;
      background: transparent;
      position: relative;
      top: 1px;
      vertical-align: middle;
      padding: 0; }
  .controls .ctrl-elem {
    margin-right: 10px;
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
    .controls .ctrl-elem label {
      margin-right: 3px; }
  .controls .tempo-slider {
    display: inline-block;
    position: relative;
    top: 3px; }
  .controls .checkboxes {
    vertical-align: middle;
    display: inline-block; }
  .controls .scale-select, .controls .tonic-select {
    text-transform: capitalize; }
  .controls .project-controls button {
    padding: 0; }
    .controls .project-controls button:hover {
      background: transparent;
      color: #777;
      text-decoration: underline; }

.color-palette {
  position: relative;
  z-index: 500;
  top: 2px;
  left: -10px;
  border: 2px solid #fff;
  width: 24px;
  height: 24px;
  background: #c9563c;
  border-radius: 2px; }
  .color-palette .dropdown-content {
    background: transparent;
    border-radius: 2px;
    border: 5px solid #fff;
    padding: 5px;
    width: 30px;
    padding-top: 20px;
    padding-bottom: 0;
    left: -5px;
    top: -5px; }
    .color-palette .dropdown-content .palette-background {
      padding-top: 10px;
      position: relative;
      background: #fff;
      width: 30px;
      padding-left: 5px;
      padding-right: 5px;
      left: -10px; }
    .color-palette .dropdown-content .palette-color {
      cursor: pointer;
      display: inline-block;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
      color: #777;
      transform: scaleX(1) scaleY(1) scaleZ(1);
      position: relative;
      z-index: 100;
      position: relative;
      z-index: 500;
      height: 20px;
      width: 20px;
      border-radius: 10%; }
      .color-palette .dropdown-content .palette-color:hover {
        transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
        color: #222;
        z-index: 5000; }
      .color-palette .dropdown-content .palette-color:active {
        transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
        color: #222; }
      .color-palette .dropdown-content .palette-color:disabled {
        color: #bbb; }
        .color-palette .dropdown-content .palette-color:disabled:hover {
          color: #bbb;
          transform: scaleX(1) scaleY(1) scaleZ(1); }

/* ========================================================================== */
/* =============================== RECORDING ================================ */
.recorder-blink {
  color: #f00;
  padding-left: 10px;
  padding-top: 5px;
  animation: blink 500ms infinite alternate; }

@keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* ========================================================================== */
/* ============================= INSTRUEMNTS ================================ */
.inst-selectors {
  position: absolute;
  height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff; }
  .inst-selectors ul.inst-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
    font-size: 0; }
    .inst-selectors ul.inst-list::-webkit-scrollbar {
      display: none; }
    .inst-selectors ul.inst-list li.inst-option {
      text-align: center;
      width: 25%;
      height: 100%;
      font-size: 12px;
      display: inline-block;
      text-transform: capitalize;
      vertical-align: middle;
      color: #fff; }
      .inst-selectors ul.inst-list li.inst-option .inst-title {
        height: 20px;
        text-align: left; }
        .inst-selectors ul.inst-list li.inst-option .inst-title select {
          background: transparent;
          border-color: transparent; }
        .inst-selectors ul.inst-list li.inst-option .inst-title i {
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
          color: #777;
          transform: scaleX(1) scaleY(1) scaleZ(1);
          position: relative;
          z-index: 100;
          color: #fff !important;
          padding-right: 3px;
          font-size: 18px;
          position: relative;
          top: -2px;
          display: block;
          width: 13px; }
          .inst-selectors ul.inst-list li.inst-option .inst-title i:hover {
            transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
            color: #222;
            z-index: 5000; }
          .inst-selectors ul.inst-list li.inst-option .inst-title i:active {
            transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
            color: #222; }
          .inst-selectors ul.inst-list li.inst-option .inst-title i:disabled {
            color: #bbb; }
            .inst-selectors ul.inst-list li.inst-option .inst-title i:disabled:hover {
              color: #bbb;
              transform: scaleX(1) scaleY(1) scaleZ(1); }
        .inst-selectors ul.inst-list li.inst-option .inst-title button {
          float: right; }
          .inst-selectors ul.inst-list li.inst-option .inst-title button.mute-solo-channel:active {
            background: #fff;
            color: #222; }
      .inst-selectors ul.inst-list li.inst-option.selected-inst .selected-inst-icon {
        opacity: 1;
        display: inline-block !important; }
      .inst-selectors ul.inst-list li.inst-option .inst-params {
        height: 100%; }
        .inst-selectors ul.inst-list li.inst-option .inst-params li {
          display: inline-block;
          height: 67px;
          min-width: 65px;
          width: 25%;
          overflow: hidden;
          padding-right: 10px;
          padding-left: 10px; }
        .inst-selectors ul.inst-list li.inst-option .inst-params .inst-param-title {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 0.9em;
          position: relative;
          top: -5px; }

.show-hide-inst {
  border: none;
  float: right;
  position: relative;
  background: none;
  top: -2px; }

/* ========================================================================== */
/* ================================= KNOBS ================================== */
.knob {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #777;
  transform: scaleX(1) scaleY(1) scaleZ(1);
  position: relative;
  z-index: 100;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px; }
  .knob:hover {
    transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
    color: #222;
    z-index: 5000; }
  .knob:active {
    transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
    color: #222; }
  .knob:disabled {
    color: #bbb; }
    .knob:disabled:hover {
      color: #bbb;
      transform: scaleX(1) scaleY(1) scaleZ(1); }
  .knob .knobjs-arc {
    fill: #fff; }
  .knob .knobjs-arcbg {
    mask: none;
    stroke-width: 0.1;
    stroke: #fff; }

/* ========================================================================== */
/* ============================== INFO PANEL ================================ */
.info-pane {
  padding: 10px;
  box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 50px;
  background: #fff;
  z-index: 200; }
  .info-pane button.show-hide-info-pane {
    position: absolute;
    background: #eee;
    color: #444;
    border: 1px solid #777;
    border-right: none;
    font-size: 15px;
    height: 20px;
    top: -20px;
    left: 0px; }
    .info-pane button.show-hide-info-pane i, .info-pane button.show-hide-info-pane span {
      position: relative;
      top: -3px; }
  .info-pane p {
    padding: 0;
    margin: 0; }

/* ========================================================================== */
/* ================================= TRASH ================================== */
.trash-can-cont {
  position: absolute;
  padding: 50px;
  bottom: 20px;
  right: 35px;
  font-size: 40px;
  z-index: 1000;
  color: #777;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #777;
  transform: scaleX(1) scaleY(1) scaleZ(1);
  position: relative;
  z-index: 100; }
  .trash-can-cont:hover {
    transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
    color: #222;
    z-index: 5000; }
  .trash-can-cont:active {
    transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
    color: #222; }
  .trash-can-cont:disabled {
    color: #bbb; }
    .trash-can-cont:disabled:hover {
      color: #bbb;
      transform: scaleX(1) scaleY(1) scaleZ(1); }

/* ========================================================================== */
/* ================================== Modal ================================= */
.modal-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  overflow: scroll; }
  .modal-background .modal {
    box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.1);
    position: absolute;
    border-radius: 1px;
    text-align: center;
    padding: 30px 50px;
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    top: 100px;
    left: 0;
    right: 0;
    background: #fff; }
    .modal-background .modal.modal-wide {
      max-width: 900px;
      padding: 30px 70px; }
    .modal-background .modal.modal-tutorial img {
      max-width: 150px;
      padding-right: 20px; }
    .modal-background .modal h2 {
      margin-bottom: 30px; }
    .modal-background .modal a {
      border-bottom: 2px solid #bbb;
      text-decoration: none;
      text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
      box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 #fff; }
      .modal-background .modal a:hover {
        border-color: #444; }
    .modal-background .modal .close-modal {
      font-size: 18px;
      position: absolute;
      color: #bbb;
      right: 10px;
      top: 1px;
      cursor: pointer; }
      .modal-background .modal .close-modal:hover {
        color: #444; }
    .modal-background .modal .modal-content {
      padding-top: 10px;
      padding-bottom: 30px;
      text-align: left; }
      .modal-background .modal .modal-content table {
        width: 100%; }
        .modal-background .modal .modal-content table td {
          padding: 5px; }
          .modal-background .modal .modal-content table td.right {
            font-weight: bold; }
  .modal-background.downloads .modal {
    width: 300px !important; }
    .modal-background.downloads .modal ul {
      padding: 0;
      list-style: none; }
    .modal-background.downloads .modal li {
      padding-bottom: 40px; }
      .modal-background.downloads .modal li audio {
        display: block;
        width: 100%; }
      .modal-background.downloads .modal li a {
        display: block;
        background-color: #eee;
        border: 1px solid #bbb;
        border-radius: 2px;
        padding: 5px 10px;
        width: 100%;
        text-shadow: none;
        text-align: middle;
        box-shadow: none; }
        .modal-background.downloads .modal li a:hover {
          border-color: #222; }
        .modal-background.downloads .modal li a i {
          font-size: 1.2em;
          position: relative;
          top: 2px; }

/* ========================================================================== */
/* ========================= Shape attributes popup ========================= */
.shape-attr-popup {
  box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.1);
  display: none;
  width: 225px;
  background-color: #fff;
  z-index: 1000;
  position: absolute;
  left: 100px;
  top: 100px;
  padding: 5px 15px; }
  .shape-attr-popup .color-palette {
    color: #fff;
    text-align: center;
    left: 0; }
    .shape-attr-popup .color-palette i {
      position: relative;
      top: 2px; }
  .shape-attr-popup .tooltip-arrow {
    top: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-width: 10px;
    margin-top: -10px; }
    .shape-attr-popup .tooltip-arrow.arrow-left {
      right: 100%;
      border-right-color: #fff; }
    .shape-attr-popup .tooltip-arrow.arrow-right {
      left: 100%;
      border-left-color: #fff; }
  .shape-attr-popup .section {
    padding: 10px 0 10px 0; }
  .shape-attr-popup .close-popup {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: #CCC;
    padding-top: 5px; }
  .shape-attr-popup .shape-attr-start-freq {
    padding: 1px 5px; }
  .shape-attr-popup .start-freq-label {
    display: inline-block;
    text-transform: capitalize;
    width: 20px; }
  .shape-attr-popup .signal-meter {
    vertical-align: middle; }
  .shape-attr-popup .arrow {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: #777;
    transform: scaleX(1) scaleY(1) scaleZ(1);
    position: relative;
    z-index: 100;
    padding: 0;
    height: auto;
    width: auto;
    background: transparent;
    top: 2px;
    font-size: 20px;
    position: relative;
    border: none; }
    .shape-attr-popup .arrow:hover {
      transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
      color: #222;
      z-index: 5000; }
    .shape-attr-popup .arrow:active {
      transform: scaleX(1.2) scaleY(1.2) scaleZ(1);
      color: #222; }
    .shape-attr-popup .arrow:disabled {
      color: #bbb; }
      .shape-attr-popup .arrow:disabled:hover {
        color: #bbb;
        transform: scaleX(1) scaleY(1) scaleZ(1); }
    .shape-attr-popup .arrow:hover {
      background-color: transparent; }
    .shape-attr-popup .arrow.arrow-up {
      margin-left: 8px; }
    .shape-attr-popup .arrow.arrow-down {
      margin-left: -3px; }
  .shape-attr-popup button {
    background: #eee;
    border-radius: 2px;
    border: 1px solid #bbb; }
    .shape-attr-popup button:active {
      background: #bbb; }
    .shape-attr-popup button.shape-attr-delete-shape {
      background: none;
      color: #ff6464;
      padding-top: 4px; }
      .shape-attr-popup button.shape-attr-delete-shape:hover {
        text-decoration: underline;
        background-color: transparent;
        color: #ff6464; }
  .shape-attr-popup .mute-solo .button-cont {
    display: inline-block;
    text-align: center;
    width: 50%; }
    .shape-attr-popup .mute-solo .button-cont button {
      background: none;
      width: 80px;
      text-align: center;
      display: block;
      margin: 0 auto;
      padding: 2px 4px;
      border: none; }
    .shape-attr-popup .mute-solo .button-cont .shape-attr-mute {
      border: 1px solid #6e6efa;
      color: #6e6efa; }
    .shape-attr-popup .mute-solo .button-cont .shape-attr-unmute {
      background-color: #6e6efa;
      color: #fff; }
    .shape-attr-popup .mute-solo .button-cont .shape-attr-solo {
      border: 1px solid #eda128;
      color: #eda128; }
    .shape-attr-popup .mute-solo .button-cont .shape-attr-unsolo {
      background-color: #eda128;
      color: #fff; }

/* ========================================================================== */
/* ================================= Helper ================================= */
.hidden {
  display: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
